div {
    text-shadow: 1px 1px 3px black;
    text-align: center;
    font-size: 25px;
    font-family: Calibri;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    width: 30px;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}
.c0 {
    color: rgb(234, 231, 79);
    box-shadow: 1px 1px 3px black;
    background-color: rgb(5, 121, 121);
}
.c1 {
    color: rgb(233, 135, 50);
}
.c2 {
    color: rgb(50, 233, 227);
}
.c3 {
    color: rgb(77, 109, 108);
}
.c4 {
    color: rgb(142, 21, 21);
}
body {
    background-color: rgb(165, 211, 211);
    text-align: center;
}
hr {
    border-bottom: none;
    box-shadow: 1px 1px 6px black;
    height: 10px;
    background-color: rgb(83, 135, 118);
    border-radius: 9px;
}