div.c {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    background-color: rgb(172, 238, 170);
}
div {
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black inset;
}
div.c div {
    width: 90px;
    background-color: rgb(68, 43, 211);
    font-family: tahoma;
    font-size: x-large;
    text-shadow: 1px 1px 3px rgb(199, 152, 22);
    color: orange;
}