body {
    background-image: url(tengerpart.jpg);
}
h1 {
    color: antiquewhite;
}
h2 {

}
h3 {

}
h4 {

}
h1.fekete {
    color: black;
}
h1.jobbra {
    text-align: right;
}
h2.jobbra {
    text-align: right;
}
table {
    
}